---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=KEY&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655057818,"sunrise":1655033490,"sunset":1655087299,"temp":89.87,"feels_like":86.85,"pressure":1001,"humidity":25,"dew_point":49.37,"uvi":9.93,"clouds":9,"visibility":10000,"wind_speed":1.99,"wind_deg":79,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1655056800,"temp":89.87,"feels_like":86.85,"pressure":1001,"humidity":25,"dew_point":49.37,"uvi":9.93,"clouds":9,"visibility":10000,"wind_speed":7.76,"wind_deg":106,"wind_gust":8.88,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1655060400,"temp":90.7,"feels_like":87.26,"pressure":1001,"humidity":22,"dew_point":46.67,"uvi":8.28,"clouds":20,"visibility":10000,"wind_speed":10.51,"wind_deg":327,"wind_gust":13.82,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1655064000,"temp":89.19,"feels_like":85.78,"pressure":1001,"humidity":22,"dew_point":45.41,"uvi":7.76,"clouds":38,"visibility":10000,"wind_speed":7.23,"wind_deg":36,"wind_gust":14.76,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1655067600,"temp":81.37,"feels_like":80.38,"pressure":1002,"humidity":34,"dew_point":50.34,"uvi":6.37,"clouds":56,"visibility":10000,"wind_speed":12.88,"wind_deg":86,"wind_gust":19.82,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.24,"rain":{"1h":0.45}},{"dt":1655071200,"temp":85.95,"feels_like":83.07,"pressure":1000,"humidity":24,"dew_point":45,"uvi":5.42,"clouds":75,"visibility":10000,"wind_speed":7.9,"wind_deg":82,"wind_gust":7.34,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.21},{"dt":1655074800,"temp":88.47,"feels_like":84.85,"pressure":998,"humidity":19,"dew_point":40.14,"uvi":3.18,"clouds":92,"visibility":10000,"wind_speed":8.66,"wind_deg":138,"wind_gust":10.85,"weather":[{[...]
[...]
