---
http_interactions:
- request:
    method: get
    uri: http://mapquestapi.com/geocoding/v1/address?key=KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 01 Jul 2022 16:52:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1459228978"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1843593845"}]}]}'
  recorded_at: Fri, 01 Jul 2022 16:52:26 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=KEY&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1656694346,"sunrise":1656675335,"sunset":1656729105,"temp":72.9,"feels_like":72.43,"pressure":1014,"humidity":54,"dew_point":55.29,"uvi":8.86,"clouds":56,"visibility":10000,"wind_speed":1.01,"wind_deg":296,"wind_gust":5.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1656691200,"temp":73.02,"feels_like":72.43,"pressure":1014,"humidity":51,"dew_point":53.85,"uvi":6.23,"clouds":55,"visibility":10000,"wind_speed":2.28,"wind_deg":111,"wind_gust":3.11,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1656694800,"temp":72.9,"feels_like":72.43,"pressure":1014,"humidity":54,"dew_point":55.29,"uvi":8.86,"clouds":56,"visibility":10000,"wind_speed":4.14,"wind_deg":111,"wind_gust":4.41,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1656698400,"temp":74.35,"feels_like":73.8,"pressure":1014,"humidity":49,"dew_point":53.98,"uvi":10.81,"clouds":57,"visibility":10000,"wind_speed":5.26,"wind_deg":105,"wind_gust":4.54,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1656702000,"temp":77.58,"feels_like":77,"pressure":1014,"humidity":42,"dew_point":52.7,"uvi":9.3,"clouds":36,"visibility":10000,"wind_speed":3.65,"wind_deg":94,"wind_gust":2.91,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.19},{"dt":1656705600,"temp":80.64,"feels_like":79.95,"pressure":1012,"humidity":35,"dew_point":50.49,"uvi":8.72,"clouds":37,"visibility":10000,"wind_speed":6.26,"wind_deg":45,"wind_gust":4.94,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.27},{"dt":1656709200,"temp":76.8,"feels_like":76.15,"pressure":1012,"humidity":42,"dew_point":52,"uvi":7.14,"clouds":50,"visibility":10000,"wind_speed":15.95,"wind_deg":191,"wind_gust":13.87,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.47,"rain":{"1h":0.53}},{"dt":1656712800,"temp":67.69,"feels_like":67.17,"pressure":1015,"humidity":64,"dew_point":54.63,"uvi":1.96,"clouds":62,"visibility":8917,"wind_speed":8.16,"wind_deg":262,"wind_gust":11.56,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":0.75,"rain":{"1h":2.23}},{"dt":1656716400,"temp":69.22,"feels_like":68.49,"pressure":1015,"humidity":56,"dew_point":52.52,"uvi":1.15,"clouds":70,"visibility":10000,"wind_speed":9.4,"wind_deg":189,"wind_gu[...]
[...]
