---
http_interactions:
- request:
    method: get
    uri: http://mapquestapi.com/geocoding/v1/address?key=KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 14 Jun 2022 19:33:37 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-15200280"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-2093188230"}]}]}'
  recorded_at: Tue, 14 Jun 2022 19:33:37 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=KEY&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655235216,"sunrise":1655206286,"sunset":1655260150,"temp":80.67,"feels_like":79.34,"pressure":1001,"humidity":26,"dew_point":42.64,"uvi":9.3,"clouds":15,"visibility":10000,"wind_speed":5.99,"wind_deg":7,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1655233200,"temp":80.64,"feels_like":79.2,"pressure":1001,"humidity":24,"dew_point":40.55,"uvi":9.91,"clouds":17,"visibility":10000,"wind_speed":12.5,"wind_deg":20,"wind_gust":15.41,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1655236800,"temp":80.67,"feels_like":79.34,"pressure":1001,"humidity":26,"dew_point":42.64,"uvi":9.3,"clouds":15,"visibility":10000,"wind_speed":11.65,"wind_deg":37,"wind_gust":18.25,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1655240400,"temp":81.32,"feels_like":79.57,"pressure":1001,"humidity":23,"dew_point":40.03,"uvi":7.63,"clouds":14,"visibility":10000,"wind_speed":11.5,"wind_deg":50,"wind_gust":22.77,"weather":[{"id":801,"m[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=KEY&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1656622576,"sunrise":1656588907,"sunset":1656642711,"temp":76.33,"feels_like":75.88,"pressure":1015,"humidity":47,"dew_point":54.64,"uvi":3.85,"clouds":100,"visibility":10000,"wind_speed":3,"wind_deg":300,"wind_gust":8.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1656619200,"temp":77.07,"feels_like":76.55,"pressure":1014,"humidity":44,"dew_point":53.51,"uvi":4.7,"clouds":100,"visibility":10000,"wind_speed":13.29,"wind_deg":328,"wind_gust":17.58,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.48,"rain":{"1h":0.12}},{"dt":1656622800,"temp":76.33,"feels_like":75.88,"pressure":1015,"humidity":47,"dew_point":54.64,"uvi":3.85,"clouds":100,"visibility":10000,"wind_speed":13.44,"wind_deg":319,"wind_gust":15.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.56},{"dt":1656626400,"temp":75.11,"feels_like":74.62,"pressure":1015,"humidity":49,"dew_point":54.66,"uvi":2.05,"clouds":100,"visibility":7040,"wind_speed":9.66,"wind_deg":268,"wind_gust":14.38,"[...]
[...]
