---
http_interactions:
- request:
    method: get
    uri: http://mapquestapi.com/geocoding/v1/address?key=KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 12 Jun 2022 18:17:01 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=35800183"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-499547985"}]}]}'
  recorded_at: Sun, 12 Jun 2022 18:17:01 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=KEY&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655057818,"sunrise":1655033490,"sunset":1655087299,"temp":89.87,"feels_like":86.85,"pressure":1001,"humidity":25,"dew_point":49.37,"uvi":9.93,"clouds":9,"visibility":10000,"wind_speed":1.99,"wind_deg":79,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1655056800,"temp":89.87,"feels_like":86.85,"pressure":1001,"humidity":25,"dew_point":49.37,"uvi":9.93,"clouds":9,"visibility":10000,"wind_speed":7.76,"wind_deg":106,"wind_gust":8.88,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1655060400,"temp":90.7,"feels_like":87.26,"pressure":1001,"humidity":22,"dew_point":46.67,"uvi":8.28,"clouds":20,"visibility":10000,"wind_speed":10.51,"wind_deg":327,"wind_gust":13.82,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1655064000,"temp":89.19,"feels_like":85.78,"pressure":1001,"humidity":22,"dew_point":45.41,"uvi":7.76,"clouds":38,"visibility":10000,"wind_speed":7.23,"wind_deg":36,"wind_gust":14.76,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1655067600,"temp":81.37,"feels_like":80.38,"pressure":1002,"humidity":34,"dew_point":50.34,"uvi":6.37,"clouds":56,"visibility":10000,"wind_speed":12.88,"wind_deg":86,"wind_gust":19.82,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.24,"rain":{"1h":0.45}},{"dt":1655071200,"temp":85.95,"feels_like":83.07,"pressure":1000,"humidity":24,"dew_point":45,"uvi":5.42,"clouds":75,"visibility":10000,"wind_speed":7.9,"wind_deg":82,"wind_gust":7.34,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.21},{"dt":1655074800,"temp":88.47,"feels_like":84.85,"pressure":998,"humidity":19,"dew_point":40.14,"uvi":3.18,"clouds":92,"visibility":10000,"wind_speed":8.66,"wind_deg":138,"wind_gust":10.85,"weather":[{[...]
